fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pillow==11.0.0
opencv-python-headless==4.10.0.84
numpy==2.2.1
sqlmodel==0.0.22
pydantic-settings==2.7.1
natsort==8.4.0
arabic-reshaper==3.0.0
python-bidi==0.6.3
httpx==0.28.1
pytest==8.3.4
ruff==0.8.4
